<div class="page-header">
	<h1>Home</h1>
</div>
<div class="row">
  <a href="lorem" class="btn large info span4" name="lorem">Lorem</a>
  <a href="at" class="btn large success span4" name="at">At</a>
  <a href="duis" class="btn large danger span4" name="duis">Duis</a>
</div>